.advantages {
  padding: 25px 30px;
  text-align: left;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    justify-content: space-between;

    &__item {
      text-align: center;
    }
  }
}
