.causes {
  padding: 25px 25px 13px 25px;

  &__title {
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  &__text {
    margin-top: 25px;
  }
}

@media (min-width: @tablet-width) {
  .causes {
    padding: 33px 135px 35px;

    &__title {
      font-size: 21px;
      letter-spacing: 0.005em;
    }

    &__text {
      margin-top: 28px;
      letter-spacing: 0.005em;
    }
  }
}

@media (min-width: @desktop-width) {
  .causes {
    padding: 49px 0 45px;

    &__title {
      width: 510px;
      margin: 0 auto;
    }

    &__text {
      width: 510px;
      margin: 0 auto;
      margin-top: 29px;
    }
  }
}
