.gallery {
  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    margin: 38px 0 26px 0;
  }

  &__text {
    max-width: 275px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  &__wrapper {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  &__name {
    font-size: 14px;
    line-height: 24px;
    margin: 15px 0 0;
  }

  &__author {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    margin: 0 0 5px;
  }

  &__like {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    margin-top: 0;
    padding-left: 20px;
  }

  &__like-amount {
    padding: 3px 0 0 15px;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    &__title {
      font-size: 30px;
      line-height: 26px;
      margin: 69px 0 31px 0;
    }

    &__text {
      max-width: 440px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0 60px;
    }

    &__item {
      width: 324px;
      min-height: 348px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;
      padding: 0;
      border-top: none;
      background-color: #f2f2f2;

      &--first {
        width: 100%;
        height: 480px;
        margin-top: 41px;
      }

      &--third {
        background-color: #eaeaea;
      }
    }

    &__content {
      min-height: 80px;
      padding: 0 20px;
    }

    &__img {
      width: 100%;
      height: 400px;

      &--min {
        height: 267px;
      }
    }

    &__wrapper {
      width: auto;
      padding: 0;
    }

    &__name {
      margin: 15px 0 0;
    }

    &__like {
      width: auto;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      fill: #a9a9a9;
    }

    &__like-amount {
      padding: 0;
      margin-left: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    padding: 0;

    &__title {
      margin: 110px 0 31px 0;
    }

    &__info {
      width: 440px;
      margin: 0 auto;
    }

    &__list {
      padding: 0;
    }

    &__item {
      position: relative;
      min-height: 267px;
      width: calc(100% / 3);

      &--first {
        height: auto;
        width: 1200px;
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      padding: 13px 21px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &__wrapper {
      padding-left: 0;
      color: #ffffff;
    }

    &__name {
      margin: 4px 0 0;
    }

    &__author {
      margin: 0;
    }

    &__like {
      width: auto;
      margin: 0;
      color: #ffffff;
      fill: #ffffff;
    }

    &__like-amount {
      padding-left: 10px;
    }

    &__img {
      width: 1200px;
    }
  }
}
