.intro {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 390px;
  display: flex;
  align-items: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__img {
    margin: 0 auto;
    margin-top: 5px;

    &--photo {
      margin-top: -15px;
    }

    &--form {
      margin-top: -15px;
    }
  }

  &--photo {
    min-height: 158px;
    background-position: 50% 100%;
  }

  &--form {
    min-height: 158px;
    background-position: 50% 100%;
  }

  &__triangle {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%);
  }
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 528px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 75% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--photo {
      min-height: 295px;
    }

    &--form {
      min-height: 295px;
    }

    &__img {
      margin-top: -25px;
    }

    &__triangle {
      bottom: 0;

      &--min {
        bottom: 5%;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 519px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--photo {
      min-height: 305px;
    }

    &--form {
      min-height: 305px;
    }

    &__img {
      margin-top: -13px;
    }

    &__triangle {
      bottom: 0;

      &--min {
        bottom: 1%;
      }
    }
  }
}
