.intro {
  min-height: 390px;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  align-items: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__img {
    width: 88%;
    margin: 0 auto;
    margin-top: 5px;

    &--photo {
      width: 72%;
      margin-top: -15px;
    }

    &--form {
      width: 72%;
      margin-top: -15px;
    }
  }

  &--photo {
    min-height: 158px;
    background-position: 50% 100%;
  }

  &--form {
    min-height: 158px;
    background-position: 50% 100%;
  }

  &__triangle {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%);
  }
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 518px;
    padding-top: 80px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--photo {
      min-height: 290px;
    }

    &--form {
      min-height: 290px;
    }

    &__img {
      width: 60%;
      margin-top: -94px;
    }

    &__triangle {
      bottom: 0;

      /*&--min {
        bottom: 2%;
      }*/
    }
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 517px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--photo {
      min-height: 300px;
    }

    &--form {
      min-height: 300px;
    }

    &__img {
      width: 38%;
      margin-top: -11px;

      &--form {
        margin-top: -18px;
      }
    }

    &__triangle {
      bottom: -0.2%;

      /*&--min {
        bottom: 1%;
      }*/
    }
  }
}
