.page-header {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    padding-top: 55px;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
  }

  &__toggle-open {
    position: absolute;
    top: 25%;
    right: 4%;
    cursor: pointer;
    border: none;
    background-color: rgba(225, 225, 225, 0);
    fill: @base-color;

    &:hover {
      fill: #b3d1e4;
    }

    &:active {
      fill: #d9e8f1;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;

    &__content {
      position: static;
      padding: 0;
    }

    &__logo-img {
      width: 102px;
      height: 83px;
    }

    &__toggle-open {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    &__logo-img {
      width: 190px;
      height: 98px;
    }
  }
}
