@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-between;
    padding: 0 115px;
  }
}
