.page-footer {
  padding: 8px 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 4px;

  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-between;
    padding: 18px 120px;
  }
}
