.reason {
  &__header {
    position: relative;
    padding: 56px 20px 20px;
    background-color: @base-color;
    color: #ffffff;

    &--height {
      padding: 38px 20px 20px;
      margin-top: 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 27px 31px;

    &--mod {
      position: relative;
      padding: 0;
    }

    &--color {
      background-color: @second-color;
    }
  }

  &__pic {
    width: 100%;
    min-height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--first {
      background-image: url("../img/main-city-mobile@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-city-mobile@2x.jpg");
      }
    }

    &--second {
      background-image: url("../img/main-bridge-mobile@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-bridge-mobile@2x.jpg");
      }
    }
  }

  &__title {
    margin: 0;
  }

  &__description-number {
    margin: 7px 0 12px 0;
  }

  &__description {
    margin: 0;
    line-height: 21px;
  }

  &__triangle {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%);
  }
}

@media (min-width: @tablet-width) {
  .reason {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
      padding: 44px 48px;

      &--mod {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }

      &--reverse {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5px;
      }

      &--color {
        width: 33.33%;
      }
    }

    &__pic {
      &--first {
        width: 67%;
        background-image: url("../img/main-city-tablet@1x.jpg");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/main-city-tablet@2x.jpg");
        }
      }

      &--second {
        width: 67%;
        background-image: url("../img/main-bridge-tablet@1x.jpg");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/main-bridge-tablet@2x.jpg");
        }
      }
    }

    &__triangle {
      display: none;
    }

    &__header {
      width: 33%;
      height: auto;
      padding: 46px 44px 43px;
    }

    &__title {
      font-size: 21px;
    }

    &__description-number {
      margin: 7px 0 19px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reason {
    margin-top: 4px;

    &__item {
      padding: 45px 48px;

      &--mod {
        width: 1200px;
        padding: 0;
      }

      &:nth-child(2) {
        padding-top: 3px;
      }
    }

    &__pic {
      &--first {
        min-height: 256px;
        background-image: url("../img/main-city-desktop@1x.jpg");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/main-city-desktop@2x.jpg");
        }
      }

      &--second {
        min-height: 256px;
        background-image: url("../img/main-bridge-desktop@1x.jpg");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/main-bridge-desktop@2x.jpg");
        }
      }
    }

    &__header {
      height: 256px;
      padding: 52px 82px 46px;
    }

    &__title {
      width: 156px;
      margin: 0 auto;
    }
  }
}
