.review {
  padding: 0 20px;

  &__feedback {
    margin-top: 38px;
  }

  &__feedback-title {
    margin-bottom: 26px;
    letter-spacing: 0.01em;
  }

  &__feedback-text {
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  &__introduce {
    min-height: 305px;
  }

  &__introduce-title {
    padding-top: 22px;
    letter-spacing: 0.02em;
  }

  &__introduce-user {
    padding: 0;
    list-style: none;
    text-align: left;
    margin-top: 20px;
  }

  &__introduce-item {
    display: flex;
    align-items: center;
    margin: 18px 0;
  }

  &__introduce-field {
    width: 100%;
    min-height: 58px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 14px 14px;
    margin-left: 15px;
    border: 5px solid #f2f2f2;
    color: #000000;
    background-color: @form-color;
    font-family: "PT Sans", sans-serif;

    &::placeholder {
      color: #000000;
    }

    &:nth-of-type(3) {
      padding-left: 16px;
    }

    &:hover {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
    }

    &:focus {
      background-color: #ffffff;
      border-color: #e5e5e5;
    }
  }

  &__contact {
    min-height: 279px;
    padding-top: 7px;
  }

  &__contact-title {
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }

  &__contact-info {
    list-style: none;
    text-align: left;
    padding: 0;
  }

  &__contact-label {
    padding-left: 22px;
  }

  &__contact-wrapper {
    position: relative;
    margin: 8px 0 11px;
  }

  &__contact-field {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 60px 13px 17px;
    border: 5px solid #f2f2f2;
    color: #000000;
    background-color: @form-color;
    font-family: "PT Sans", sans-serif;

    &::placeholder {
      color: #000000;
    }

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: #ffffff;
      border-color: #e5e5e5;
    }
  }

  &__contact-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 57px;
    background-color: #e6e6e6;

    &--phone {
      display: flex;
      align-items: center;
    }

    &--mail {
      display: flex;
      align-items: center;
    }
  }

  &__impression {
    min-height: 290px;
    padding-top: 15px;
  }

  &__impression-list {
    list-style: none;
    text-align: left;
    padding: 0;
  }

  &__impression-title {
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }

  &__impression-item {
    margin: 14px 0;
  }

  &__impression-input {
    &:checked + label::after {
      content: "";
      position: absolute;
      top: 17px;
      left: 17px;
      width: 22px;
      height: 22px;
      border-radius: 50px;
      background-color: #000000;
    }

    &:checked + label:active::after {
      background-color: #a4a4a4;
    }
  }

  &__impression-label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 56px;
      height: 56px;
      border-radius: 50px;
      margin-right: 23px;
      background-color: @form-color;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }

  &__visit {
    letter-spacing: 0.01em;
    padding-top: 13px;
  }

  &__visit-list {
    padding: 0;
    list-style: none;
    text-align: left;
  }

  &__visit-item {
    position: relative;
    margin: 16px 0 24px;
  }

  &__visit-input {
    &:checked + label::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 17px;
      width: 25px;
      height: 25px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &__visit-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 56px;
      height: 56px;
      border-radius: 5px;
      margin-right: 23px;
      background-color: @form-color;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }

  &__emotion {
    padding-top: 6px;
  }

  &__emotion-title {
    letter-spacing: 0.01em;
  }

  &__emotion-place {
    display: block;
    width: 100%;
    min-height: 160px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4em;
    border: none;
    padding: 19px;
    background-color: @form-color;
    font-family: "PT Sans", sans-serif;

    &::placeholder {
      color: #000000;
    }
  }

  &__emotion-btn {
    display: block;
    width: 280px;
    height: 58px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 16px 30px;
    margin: 27px 0 44px;
    color: #ffffff;
    background-color: @base-color;

    &:hover {
      background-color: @hover-color;
    }

    &:active {
      color: @text-active-color;
      background-color: @active-color;
    }
  }

  &__emotion-required {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;

    &__sequence {
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 4;
      }

      &:nth-child(4) {
        order: 2;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 6;
      }
    }

    &__feedback {
      margin-top: 49px;
    }

    &__feedback-title {
      font-size: 30px;
    }

    &__feedback-text {
      padding: 5px 100px;
    }

    &__introduce {
      width: 50%;
      text-align: left;
      padding: 0 0 0 57px;
      margin-top: 41px;
    }

    &__introduce-title {
      font-size: 21px;
      margin: 15px 0 57px;
      padding: 0;
    }

    &__contact {
      width: 100%;
      padding-top: 32px;
    }

    &__contact-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 21px;
      letter-spacing: 0.002em;
      margin-bottom: 24px;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }

    &__contact-item {
      margin-bottom: 22px;
    }

    &__impression {
      width: 50%;
      text-align: left;
      border-right: 1px solid #dbdbdb;
      margin-top: 56px;
      padding: 0;
    }

    &__impression-title {
      font-size: 21px;
      letter-spacing: 0.001em;
      margin: 0 0 58px;
    }

    &__impression-list {
      margin: 0;
    }

    &__impression-item {
      margin: 22px 0;
    }

    &__impression-label {
      &::before {
        margin-right: 20px;
      }
    }

    &__visit {
      width: 100%;
      padding-top: 13px;
    }

    &__visit-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 21px;
      letter-spacing: 0.008em;

      &::before {
        content: "";
        display: block;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        display: block;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }

    &__visit-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 54px;
    }

    &__visit-item {
      width: 43%;
      margin: 23px 0 10px 4px;
    }

    &__emotion {
      width: 100%;
      padding-top: 27px;
    }

    &__emotion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 21px;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }

    &__emotion-place {
      margin-top: 55px;
      padding: 18px 20px;
    }

    &__emotion-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__emotion-btn {
      width: 324px;
      margin: 34px 0 21px;
    }

    &__emotion-required {
      display: block;
      margin-top: 32px;
    }
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding: 0 120px;

    &__feedback {
      margin-top: 87px;
    }

    &__feedback-text {
      padding: 5px 253px;
    }

    &__introduce {
      padding: 0 0 0 79px;
      margin-top: 25px;
    }

    &__contact {
      padding-top: 31px;
    }

    &__contact-title {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &__contact-info {
      display: flex;
      margin-top: 65px;
    }

    &__contact-item {
      width: 50%;
      display: flex;
      align-items: center;

      &:nth-child(2n+1) {
        width: 41.5%;
        margin-right: 82px;
      }
    }

    &__contact-tel {
      display: none;
    }

    &__contact-label {
      padding: 0;
      margin-right: 20px;

      &:nth-child(2) {
        width: 100px;
      }
    }

    &__contact-wrapper {
      width: 310px;
    }

    &__contact-field {
      width: 100%;
      padding: 11px 60px 13px 11px;
    }

    &__impression {
      text-align: center;
      margin-top: 40px;
    }

    &__impression-title {
      padding-right: 47px;
    }

    &__impression-list {
      padding-left: 5px;
    }

    &__visit {
      padding-top: 0;
      margin-top: -38px;
    }

    &__visit-title {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &__visit-list {
      padding: 0;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__visit-item {
      width: auto;
      margin-left: 0;
    }

    &__visit-label {
      width: 100%;
    }

    &__emotion-title {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &__emotion-place {
      padding: 18px 21px;
    }

    &__emotion-btn {
      width: 480px;
    }
  }
}
