.site-menu {
  padding: 0;
  margin: 0;

  &__link {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__item {
    height: 56px;
    padding: 15px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    background-color: @base-color;
  }
}

@media (min-width: @tablet-width) {
  .site-menu {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__link {
      font-size: 14px;
      color: #000000;
    }

    &__item {
      width: 20%;
      background-color: #ffffff;
      border: none;

      &:nth-child(2) {
        margin-right: auto;
      }
    }
  }
}
