.site-menu {
  padding: 0;
  margin: 0;

  &__link {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__item {
    height: 56px;
    padding: 15px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    background-color: @base-color;
  }
}

@media (min-width: @tablet-width) {
  .site-menu {
    display: flex;
    position: relative;

    &__link {
      font-size: 14px;
      color: #000000;
    }

    &__item {
      background-color: #ffffff;
      border: none;
      &--first {
        margin-left: 33px;
      }

      &--second {
        margin-left: 47px;
      }

      &--third {
        margin-left: 180px;
      }

      &--fourth {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-menu {
    &__item {
      &--first {
        margin-left: 75px;
      }

      &--second {
        margin-left: 132px;
      }

      &--third {
        margin-left: 353px;
      }

      &--fourth {
        margin-left: 110px;
      }
    }
  }
}
