.video {
  position: relative;
  width: 87%;
  margin: 0 auto;

  &__wrapper {
    padding: 10px 20px;
    margin-bottom: 11px;
  }

  &__title {
    margin: 9px 0 26px;
  }

  &__text {
    line-height: 24px;
  }

  &__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  &__img img {
    width: 100%;
  }

  &__time-line {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    min-height: 45px;
    padding: 21px 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__scale {
    position: relative;
    width: 84%;
    height: 3px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 auto;
  }

  &__bar {
    position: absolute;
    bottom: -115%;
    left: 15%;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: #ffffff;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 65px;
    width: 100%;
    padding: 0 23px;
    margin: 0 auto;
    margin-bottom: 47px;
    background-color: #f2f2f2;
    fill: #5c6870;

    &--replay {
      margin-right: auto;
    }

    &--subtitles {
      margin-right: 15px;
    }
  }

  &__menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: #b8b8b8;
    }
  }
}

@media (min-width: @tablet-width) {
  .video {
    width: 84%;

    &__wrapper {
      padding: 55px 115px;
      margin-bottom: 4px;
    }

    &__title {
      font-size: 30px;
      margin: 9px 0 31px;
    }

    &__img {
      width: 100%;
      height: 500px;
    }

    &__menu {
      position: absolute;
      bottom: -47px;
      min-height: 93px;
      padding: 0 40px 0 34px;
      fill: #ffffff;
      background-color: rgba(0, 0, 0, 0.6);

      &--subtitles {
        margin-right: 30px;
      }
    }

    &__menu-icon {
      &:hover {
        fill: #c2c2c2;
      }

      &:active {
        fill: #949494;
      }
    }

    &__time-line {
      position: static;
      left: 0;
      transform: translate(0);
      padding: 44px 0;
      background-color: rgba(0, 0, 0, 0);
    }

    &__scale {
      width: 82%;
      margin-right: 42px;
    }

    &__bar {
      left: 29%;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 66.6%;
    margin-top: 4px;
    &__wrapper {
      padding: 55px 190px;
    }

    &__menu {
      min-height: 95px;
      padding-right: 43px;
    }

    &__time-line {
      padding: 19px 0;
    }

    &__bar {
      left: 17%;
    }
  }
}
