*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 18px;
  line-height: 26px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.visually_hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.advantages {
  min-height: 380px;
  padding: 7px 30px 23px;
  text-align: left;
  list-style: none;
}
.advantages__item {
  position: relative;
}
.advantages__item-img {
  position: absolute;
  top: -28%;
  left: -3%;
}
.advantages__item-img--souvenirs {
  top: -32px;
}
.advantages__item-img--food {
  top: -23px;
  left: -10px;
}
.advantages__item-img svg {
  width: 37px;
  fill: #81b3d2;
}
.advantages__title {
  font-size: 18px;
  padding-left: 40px;
  margin-bottom: 10px;
  margin-top: 28px;
}
.advantages__description {
  line-height: 21px;
  padding-left: 40px;
}
@media (min-width: 768px) {
  .advantages {
    display: flex;
    justify-content: space-between;
    min-height: 327px;
    padding: 0;
  }
  .advantages__item {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 256px;
    text-align: center;
    padding: 45px 45px 8px;
  }
  .advantages__item:nth-child(2) {
    order: 2;
  }
  .advantages__item:nth-child(3) {
    order: 1;
  }
  .advantages__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: auto;
    order: -1;
  }
  .advantages__item-img--food {
    margin: 2px 0;
  }
  .advantages__item-img--souvenirs {
    margin: -2px 0 1px;
  }
  .advantages__item-img svg {
    width: auto;
  }
  .advantages__title {
    font-size: 21px;
    max-height: 50px;
    padding: 15px 0 0 0;
    margin: 0;
  }
  .advantages__description {
    padding: 0;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1280px) {
  .advantages__item {
    padding: 44px 45px 8px;
  }
  .advantages__description {
    margin: 0 0 46px 0;
  }
}
.causes {
  padding: 25px 25px 13px 25px;
}
.causes__title {
  font-weight: 700;
}
.causes__text {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .causes {
    padding: 31px 135px 35px;
  }
  .causes__title {
    font-size: 21px;
    letter-spacing: 0.005em;
  }
  .causes__text {
    margin-top: 28px;
    letter-spacing: 0.005em;
  }
}
@media (min-width: 1280px) {
  .causes {
    max-width: 510px;
    padding: 32px 0;
    margin: 0 auto;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__link {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .copyright__text {
    margin: 0 auto;
    margin-right: 4px;
  }
}
.gallery__list {
  padding: 0;
  list-style: none;
}
.gallery__item {
  width: 100%;
  min-height: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}
.gallery__item:nth-last-child(1) {
  border-bottom: 1px solid #e5e5e5;
}
.gallery__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
.gallery__title {
  font-size: 18px;
  margin: 38px 0 26px 0;
}
.gallery__text {
  max-width: 275px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.gallery__wrapper {
  width: 100%;
  text-align: left;
  padding: 10px 0 5px;
}
.gallery__name {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.gallery__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}
.gallery__like {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  margin-top: 0;
  fill: #a9a9a9;
}
.gallery__like-amount {
  padding: 3px 0 0 15px;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
    line-height: 26px;
    margin: 69px 0 31px 0;
  }
  .gallery__text {
    max-width: 440px;
  }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 60px;
  }
  .gallery__item {
    width: calc(100% / 2);
    min-height: 348px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    border-top: none;
    background-color: #f2f2f2;
  }
  .gallery__item--first {
    width: 100%;
    height: 480px;
    margin-top: 41px;
  }
  .gallery__item--third {
    background-color: #eaeaea;
  }
  .gallery__content {
    min-height: 80px;
    padding: 0 20px;
  }
  .gallery__img {
    width: 100%;
    height: 400px;
  }
  .gallery__img--min {
    height: 267px;
  }
  .gallery__wrapper {
    width: auto;
    padding: 0;
  }
  .gallery__name {
    margin: 15px 0 0;
  }
  .gallery__like {
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .gallery__like-amount {
    padding: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0;
  }
  .gallery__title {
    margin: 110px 0 31px 0;
  }
  .gallery__info {
    width: 440px;
    margin: 0 auto;
  }
  .gallery__list {
    padding: 0;
  }
  .gallery__item {
    position: relative;
    min-height: 267px;
    width: calc(100% / 3);
  }
  .gallery__item--first {
    height: auto;
    width: 1200px;
  }
  .gallery__content {
    position: absolute;
    bottom: 0;
    padding: 13px 21px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .gallery__wrapper {
    padding-left: 0;
    color: #ffffff;
  }
  .gallery__name {
    margin: 4px 0 0;
  }
  .gallery__author {
    margin: 0;
  }
  .gallery__like {
    width: auto;
    margin: 0;
    color: #ffffff;
    fill: #ffffff;
  }
  .gallery__like-amount {
    padding-left: 10px;
  }
  .gallery__img {
    width: 1200px;
  }
}
.hashtag__text {
  font-size: 21px;
  font-weight: 700;
}
.intro {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 390px;
  display: flex;
  align-items: center;
}
.intro__img {
  margin: 0 auto;
  margin-top: 5px;
  width: 88%;
}
.intro__img--photo {
  width: 71%;
  margin-top: -15px;
}
.intro__img--form {
  width: 71%;
  margin-top: -15px;
}
.intro--photo {
  min-height: 158px;
  background-position: 50% 100%;
}
.intro--form {
  min-height: 158px;
  background-position: 50% 100%;
}
.intro__triangle {
  width: 100%;
  position: absolute;
  bottom: -2%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%);
}
.intro__triangle--min {
  bottom: -5%;
}
.intro__triangle--reason {
  top: -21px;
}
@media (min-width: 768px) {
  .intro {
    min-height: 520px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 102%;
  }
  .intro--photo {
    min-height: 295px;
  }
  .intro--form {
    min-height: 295px;
  }
  .intro__img {
    width: 60%;
    margin-top: -18px;
  }
  .intro__triangle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .intro {
    min-height: 519px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .intro--photo {
    min-height: 305px;
  }
  .intro--form {
    min-height: 305px;
  }
  .intro__img {
    width: 38%;
    margin-top: -20px;
  }
}
.main-nav {
  position: relative;
}
.main-nav__toggle-close {
  position: absolute;
  top: 7%;
  right: 5%;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(225, 225, 225, 0);
}
.main-nav__toggle-close::before,
.main-nav__toggle-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav__toggle-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-nav__toggle-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main-nav__toggle-close:hover::before,
.main-nav__toggle-close:hover::after {
  background-color: #cde1ed;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.main-nav__item {
  height: 56px;
  padding: 15px;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav__toggle-close {
    display: none;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .main-nav__link {
    font-size: 14px;
    color: #000000;
  }
  .main-nav__item {
    width: 20%;
    background-color: #ffffff;
    border: none;
  }
  .main-nav__item:nth-child(2) {
    margin-right: auto;
  }
}
.page-footer {
  padding: 8px 0;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 4px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    justify-content: space-between;
    padding: 18px 120px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__content {
  position: relative;
  padding-top: 55px;
}
.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%);
}
.page-header__toggle-open {
  position: absolute;
  top: 25%;
  right: 4%;
  cursor: pointer;
  border: none;
  background-color: rgba(225, 225, 225, 0);
  fill: #81b3d2;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
  .page-header__content {
    position: static;
    padding: 0;
  }
  .page-header__toggle-open {
    display: none;
  }
}
.path__intro {
  padding: 14px 15px;
}
.path__title {
  font-size: 21px;
}
.path__text {
  line-height: 24px;
}
.path__btn {
  display: block;
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  padding: 16px 45px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}
.path__map {
  width: 100%;
  min-height: 350px;
}
@media (min-width: 768px) {
  .path__wrapper {
    padding: 14px 165px;
    margin-top: 21px;
  }
  .path__title {
    font-size: 30px;
    margin-bottom: 31px;
  }
  .path__btn {
    width: 458px;
    margin-top: 14px;
    margin-bottom: 58px;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .path__wrapper {
    margin-top: 40px;
    padding: 14px 306px;
  }
  .path__btn {
    margin-top: 18px;
    margin-bottom: 65px;
  }
}
.reason__header {
  height: 210px;
  padding: 56px 20px 20px;
  background-color: #81b3d2;
  color: #ffffff;
}
.reason__header--second {
  height: 190px;
  padding: 38px 20px 20px;
  margin-top: 0;
}
.reason__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reason__item {
  padding: 27px 31px;
}
.reason__item--mod {
  position: relative;
  min-height: 250px;
  padding: 0;
}
.reason__item--color {
  background-color: #eeeeee;
}
.reason__title {
  margin: 0;
}
.reason__description-number {
  margin: 7px 0 12px 0;
}
.reason__description {
  margin: 0;
  line-height: 21px;
}
@media (min-width: 768px) {
  .reason__list {
    display: flex;
    flex-wrap: wrap;
  }
  .reason__item {
    width: calc(100% / 3);
    padding: 40px 48px;
  }
  .reason__item--mod {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .reason__item--reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .reason__header {
    width: 256px;
    height: auto;
    padding: 46px 45px;
  }
  .reason__title {
    font-size: 21px;
  }
  .reason__description-number {
    margin: 7px 0 19px;
  }
}
@media (min-width: 1280px) {
  .reason {
    margin-top: 4px;
  }
  .reason__item {
    width: 400px;
    padding: 41px 48px;
  }
  .reason__item--mod {
    width: 1200px;
    padding: 0;
  }
  .reason__header {
    width: 400px;
    height: 256px;
    padding: 52px 55px 46px;
  }
  .reason__title {
    width: 126px;
    margin: 0 auto;
  }
}
.social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 35px 0 30px;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  list-style: none;
  margin-right: 6px;
  cursor: pointer;
  background-color: #81b3d2;
}
.social__link {
  display: block;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
  .social__item {
    margin-right: 6px;
  }
}
